.font-title{
    font-family: 'Sedgwick Ave Display', cursive;
}
.font-fredo{
    font-family: 'Fredoka One', cursive;

}
.font-pompi{
    font-family: 'Pompiere', cursive;

}
.font-narko{
    font-family: 'Nerko One', cursive;

}