.font-title{
    font-family: 'Sedgwick Ave Display', cursive;
}
.font-fredo{
    font-family: 'Fredoka One', cursive;

}
.font-pompi{
    font-family: 'Pompiere', cursive;

}
.font-narko{
    font-family: 'Nerko One', cursive;

}
.font-mono{
    font-family: 'DM Mono', monospace;
}
.font-rale{
    font-family: 'Raleway', sans-serif;
}
.center-footer{
    left: 50%;
    transform: translateX(-50%);
}

