.font-title{
    font-family: 'Sedgwick Ave Display', cursive;
}
.font-poke{
    font-family: 'Silkscreen', cursive;
}
/* .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
  } */