@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer base {
    html {
      scroll-behavior: smooth;
    }
  }
  
@font-face {
  font-family: 'EdgyBolder';
  src: url('assets/fonts/StudioFeixenEdgyTRIAL-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  
}
@font-face {
  font-family: 'NoiMedium';
  src: url('assets/fonts/NoiGroteskTrial-Medium.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;

  
}

@font-face {
  font-family: 'EdgyRegular';
  src: url('assets/fonts/StudioFeixenEdgyTRIAL-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

  
}